.options {
    box-shadow: 1px 3px 10px 1px #bab6b6;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #fdfcfc;
    border-color: #fdfcfc;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px
}

.showApprove {
    opacity: 100;
    transition: 0.1s ease-in-out;
}

.disappearApprove {
    opacity: 0;
    transition: 0.1s ease-in-out;
}

.showDeny {
    opacity: 100;
    transition: 0.1s ease-in-out;
}

.disappearDeny {
    opacity: 0;
    transition: 0.1s ease-in-out;
}

.showLimbo {
    opacity: 100;
    transition: 0.1s ease-in-out;
}

.disappearLimbo {
    opacity: 0;
    transition: 0.1s ease-in-out;
}

.showDelete {
    opacity: 100;
    transition: 0.1s ease-in-out;
}

.disappearDelete {
    opacity: 0;
    transition: 0.1s ease-in-out;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f5f5f5;
    position: relative;
    left: 35px
}

.proposalDescription {
    margin-top: 20px;
    text-align: left;
    font-size: 30px;
    letter-spacing: -1px;
    margin-bottom: 130px;
}

.buttonText {
    background-color: #f5f5f5;
    margin-bottom: -7px;
    border-radius: 4px;
    height: 30px;
}

a {
    color: black
}

.buttons {
    position: sticky;
    bottom: 40px
}

.ghost {
    font-size: 22px;
    position: absolute;
    top: 17px;
    left: 19.5px;
}

.check {
    font-size: 25px;
    position: absolute;
    top: 16.5px;
    left: 18px;
}

.close {
    font-size: 25px;
    position: absolute;
    top: 16.5px;
    left: 18px;
}

.information {
    text-align: left;
    margin-top: 50px;
}

.proposalTitle {
    font-weight: bold;
}

.proposalInfo {
    display: inline-block;
    width: 50%;
    font-size: 20px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px
}

.proposalInfo span {
    position: relative;
    left: 10px;
    bottom: 12px;
    color: rgb(61, 61, 61);
    font-size: 18px;
}

.proposalIcon {
    font-size: 35px;
}

@media (max-width: 550px) {
    .proposalInfo {
        width: 100%;
    }
    .proposalIcon {
        font-size: 25px;
    }
    .proposalInfo span {
        position: relative;
        left: 10px;
        bottom: 7px;
        color: rgb(61, 61, 61);
        font-size: 18px;
    }
}